/venv
/requirements.txt
/main.py
.idea
Python/UK Sales Transaction/.ipynb_checkpoints/
Python/NY Bike Sharing Service/.ipynb_checkpoints/
Python/Social Buzz/.ipynb_checkpoints/
SQL/Suicide Attempts in Shandong China/.ipynb_checkpoints/
SQL/Crimes in Chicago 2023/.ipynb_checkpoints/